<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UploadPhotoServ</servlet-name>
        <servlet-class>com.ng.openfarm.portal.servlet.UploadPhotoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CamPhotoHandllerServ</servlet-name>
        <servlet-class>com.ng.openfarm.portal.servlet.CamPhotoHandllerServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServ</servlet-name>
        <servlet-class>com.ng.openfarm.portal.servlet.ImageServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServ</servlet-name>
        <servlet-class>com.ng.openfarm.portal.servlet.HomeServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.ng.openfarm.portal.servlet.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FarmerServlet</servlet-name>
        <servlet-class>com.ng.openfarm.portal.servlet.FarmerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletViewer</servlet-name>
        <servlet-class>com.ng.openfarm.portal.servlet.ServletViewer</servlet-class>
    </servlet>
    <filter>
        <filter-name>FilterApp</filter-name>
        <filter-class>com.ng.openfarm.portal.servlet.FilterApp</filter-class>
    </filter>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>UploadPhotoServ</servlet-name>
        <url-pattern>/UploadPhotoServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CamPhotoHandllerServ</servlet-name>
        <url-pattern>/CamPhotoHandllerServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServ</servlet-name>
        <url-pattern>/imageserv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServ</servlet-name>
        <url-pattern>/home.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/PageNotFound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FarmerServlet</servlet-name>
        <url-pattern>/FarmerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletViewer</servlet-name>
        <url-pattern>/ServletViewer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
