/* 
    Document   : blogloginstyle
    Created on : Jun 28, 2016, 7:09:53 AM
    Author     : Mutual-Links
    Description:
        Purpose of the stylesheet follows.
*/
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* sets background image and global font */

/* div surrounding login form */
#dialog-form {
  background-color: #eee;
  opacity: .9;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  text-align: center;
}

/* form header */


/* text fields */
#dialog-form input:not([type="button"]) {
  width: 150px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #acacac;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-family: 'Open Sans', 'sans-serif';
}

#dialog-form input:not([type="button"]):focus {
  color: #55acee;
  width: 250px;
  border: 1px solid #55acee;
  outline: none;
}

/* submit button */
#dialog-form input[type="button"] {
  font-size: 32px;
  color: #fff;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: none;
  padding: 10px;
  width: 250px;
  display: inline-block;
  position: relative;
  outline: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#dialog-form input[type="button"]:active {
  box-shadow: 0 1px 0 0 #3C93D5;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);
}